@page
@model HowDotNetWorks.Pages.AspDotNetBasicsModel
@{
}

<div class="px-8">
    <h1 class="display-4">ASP.Net Basics</h1>
    <p>
        Let's set up a basic website with the ASP.net framework.
    </p>
</div>