@page
@model HowDotNetWorks.Pages.BlazorModel
@{
}

<div class="px-8">
    <h1 class="display-4">Blazor</h1>
    <p>
        .NET uses "Razor" pages by default.  Razor allows the programmer to combine C# with HTML.
        Blazor is a component-based, single-page app framework using Razor.
    </p>
</div>