@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="px-8">
    <h1 class="display-4">Hello there!</h1>
    <p>Welcome to www.how-dotnet.works.</p>
    <p>This website contains a guide to .NET, written by a person who is relatively new to .NET.</p>
    <p>
        You may want to read through the <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">official .NET docs</a>.
        I wrote this website's content by reading that documentation, and re-writing the information I found most pertinent. 
    </p>
</div>
