@page
@model HowDotNetWorks.Pages.OtherDotNetToolsModel
@{
}

<div class="px-8">
    <h1 class="display-4">Other .NET Tools</h1>
    <p>
        Here are some other tools that can help improve your .NET website.
    </p>
</div>