@page
@model HowDotNetWorks.Pages.ServingADotNetWebsiteModel
@{
}

<div class="px-8">
    <h1 class="display-4">Serving a .NET Website</h1>
    <p>
        Once you have a .NET website built locally, how do you serve it to the internet?
    </p>
</div>