@page
@model HowDotNetWorks.Pages.WhatIsDotNetModel
@{
}

<div class="px-8">
    <h1 class="display-4">What is .NET?</h1>
    <p>
        .NET is an open source development platform for building web apps, created by Microsoft. 
        It was first released in 2004.
    </p>
    <p>
        Microsoft also produces an <b>integrated development environment</b> (or IDE) for .NET programming, 
        called Visual Studio.
    </p>
    <br />
    <p>
        Here are three other important concepts to understand, for .NET development:
    </p>
    <ul>
        <li>
            Microsoft defines a <i>standard</i> for an executable code runtime environment,
            called the Command Language Infrastructure, or CLI. The .NET framework is one
            implementation of this standard.
        </li>
        <li>
            .NET provides a large <b>class library</b> called the <b>Framework Class Library</b>,
            or FCL.  You can access classes from this library when writing .NET code.
        </li>
    </ul>
</div>