@page
@model HowDotNetWorks.Pages.WhatIsDotNetModel
@{
}

<div class="px-8">
    <h1 class="display-4">What is .NET?</h1>
    <p>
        .NET is an open source development platform for building web apps, created by Microsoft. 
        It was first released in 2004.
    </p>
    <p>
        Microsoft also produces an <b>integrated development environment</b> (or IDE) for .NET programming, 
        called Visual Studio.
    </p>
    <br />
    <p>
        Here are three other important concepts to understand, for .NET development:
    </p>
    <ul>
        <li>
            Microsoft defines a <i>standard</i> for an executable code runtime environment,
            called the Command Language Infrastructure, or CLI. The .NET framework is one
            implementation of this standard.<br />
        </li>
        <li>
            .NET provides a large <b>class library</b> called the <b>Framework Class Library</b>,
            or FCL.  You can access classes from this library when writing .NET code.<br />
        </li>
        <li>
            The <b>Common Language Runtime</b> (CLR) is a virtual machine that executes .NET code.<br /> 
        </li>
    </ul>
    <br/><br/>
    <h2>Getting .NET</h2>
    <p>
        You can start using .NET by downloading <a href="https://visualstudio.microsoft.com/vs/" target="_blank">Visual Studio Code 2022</a>,
        an IDE made for .NET.
    </p>
    <p>
        Alternately, you can download the <a href="https://dotnet.microsoft.com/en-us/download">.NET SDK (Software Developer Kit)</a>, 
        which will let you create .NET projects without VS code.
    </p>
    <br/><br/>
    <p>
        With .NET installed, you're ready o move on to the next page of this tutorial, <a asp-area="" asp-page="/AspDotNetBasics">ASP .NET Basics</a>.
    </p>
</div>